.highlight pre .hll { background-color: #404040 }
.highlight pre  { background: #202020; color: #d0d0d0 }
.highlight pre .c { color: #999999; font-style: italic } /* Comment */
.highlight pre .esc { color: #d0d0d0 } /* Escape */
.highlight pre .g { color: #d0d0d0 } /* Generic */
.highlight pre .k { color: #6ab825; font-weight: bold } /* Keyword */
.highlight pre .l { color: #d0d0d0 } /* Literal */
.highlight pre .n { color: #d0d0d0 } /* Name */
.highlight pre .o { color: #d0d0d0 } /* Operator */
.highlight pre .x { color: #d0d0d0 } /* Other */
.highlight pre .p { color: #d0d0d0 } /* Punctuation */
.highlight pre .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight pre .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlight pre .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight pre .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight pre .gd { color: #d22323 } /* Generic.Deleted */
.highlight pre .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlight pre .gr { color: #d22323 } /* Generic.Error */
.highlight pre .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight pre .gi { color: #589819 } /* Generic.Inserted */
.highlight pre .go { color: #cccccc } /* Generic.Output */
.highlight pre .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight pre .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.highlight pre .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight pre .gt { color: #d22323 } /* Generic.Traceback */
.highlight pre .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlight pre .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlight pre .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlight pre .kp { color: #6ab825 } /* Keyword.Pseudo */
.highlight pre .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlight pre .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlight pre .ld { color: #d0d0d0 } /* Literal.Date */
.highlight pre .m { color: #3677a9 } /* Literal.Number */
.highlight pre .s { color: #ed9d13 } /* Literal.String */
.highlight pre .na { color: #bbbbbb } /* Name.Attribute */
.highlight pre .nb { color: #24909d } /* Name.Builtin */
.highlight pre .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlight pre .no { color: #40ffff } /* Name.Constant */
.highlight pre .nd { color: #ffa500 } /* Name.Decorator */
.highlight pre .ni { color: #d0d0d0 } /* Name.Entity */
.highlight pre .ne { color: #bbbbbb } /* Name.Exception */
.highlight pre .nf { color: #447fcf } /* Name.Function */
.highlight pre .nl { color: #d0d0d0 } /* Name.Label */
.highlight pre .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight pre .nx { color: #d0d0d0 } /* Name.Other */
.highlight pre .py { color: #d0d0d0 } /* Name.Property */
.highlight pre .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlight pre .nv { color: #40ffff } /* Name.Variable */
.highlight pre .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlight pre .w { color: #666666 } /* Text.Whitespace */
.highlight pre .mb { color: #3677a9 } /* Literal.Number.Bin */
.highlight pre .mf { color: #3677a9 } /* Literal.Number.Float */
.highlight pre .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight pre .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight pre .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight pre .sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlight pre .sc { color: #ed9d13 } /* Literal.String.Char */
.highlight pre .sd { color: #ed9d13 } /* Literal.String.Doc */
.highlight pre .s2 { color: #ed9d13 } /* Literal.String.Double */
.highlight pre .se { color: #ed9d13 } /* Literal.String.Escape */
.highlight pre .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlight pre .si { color: #ed9d13 } /* Literal.String.Interpol */
.highlight pre .sx { color: #ffa500 } /* Literal.String.Other */
.highlight pre .sr { color: #ed9d13 } /* Literal.String.Regex */
.highlight pre .s1 { color: #ed9d13 } /* Literal.String.Single */
.highlight pre .ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlight pre .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #40ffff } /* Name.Variable.Class */
.highlight pre .vg { color: #40ffff } /* Name.Variable.Global */
.highlight pre .vi { color: #40ffff } /* Name.Variable.Instance */
.highlight pre .il { color: #3677a9 } /* Literal.Number.Integer.Long */

/* For use with the code_line-number_word-wrap_switcher_jquery.js Pelican plugin */
code {
    overflow: auto;
    /* This uses `white-space: pre-wrap` to get elements within <pre> tags to wrap. Python, for code chunks within three backticks (```), doesn't wordwrap code lines by default, because they're within <pre> tags, which don't wrap by default. See https://github.com/github/markup/issues/168 , which is specifically about this parsing issue, even though that link's discussion is talking about GitHub. */
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Following http://bililite.com/blog/2012/08/05/line-numbering-in-pre-elements/, use CSS to add line numbers to all spans that have the class 'code-line' */

.highlight pre {
    counter-reset: linecounter;
    padding-left: 2em;
}
.highlight pre span.code-line {
    counter-increment: linecounter;
    padding-left: 1em;
    text-indent: -1em;
    display: inline-block;
}
.highlight pre span.code-line:before {
    content: counter(linecounter);
    padding-right: 1em;
    display: inline-block;
    color: grey;
    text-align: right;
}
